@inject IApplicationState appState
@inject IDataContext data

<AuthorizeView>
    <Authorized>

        @if (appState.BusyState)
        {
            <div class="card shadow mt-2">
                <div class="h4 card-header fw-bold">
                    Please Wait
                </div>
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <div class="spinner-border text-primary" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </div>
                        <div class="col">
                            @if (appState.Stage == AppStage.UserLoaded)
                            {
                                <span>
                                    Welcome <b>@(data.UserData.FirstName)</b>, your user account is active.
                                    If you have been assigned work, it should load automatically within a few seconds.
                                    If it takes more than 30 seconds, please contact support.
                                </span>
                            }
                            else
                            {
                                <span>
                                    An authorized user can be assigned a set of projects and target languages by an administrator.
                                    You are an authenticated (signed in) user. It's a good start, we are checking your authorization now.
                                </span>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
        else if (appState.Stage == AppStage.LoadFailed)
        {
            <div class="alert alert-danger mt-2">
                <h4 class="alert-heading fw-bold">Permission denied</h4>
                You are logged in, but your account is either not authorized, or it has later been disabled.
                <b>Message from the database:</b> @(data.UserData.LoadError)
            </div>
        }
        else if (!appState.ReadyToWork)
        {
            <div class="alert alert-warning mt-2">
                <h4 class="alert-heading">Not Ready</h4>
                For some reason, the application is not ready to work.
            </div>
        }

    </Authorized>
    <NotAuthorized>
        <div class="alert alert-info mt-2">
            <h4 class="alert-heading fw-bold">Not Authenticated</h4>
            You need to be signed in to use this application.  You can sign in or create an account by clicking on the button in the top right corner.
            After creating an account, please contact support to get your account authorized and to be assigned to projects.
        </div>
    </NotAuthorized>
</AuthorizeView>

@code {

    private void UserDataLoaded()
    {
        InvokeAsync(StateHasChanged);
    }

    protected override void OnInitialized()
    {
        data.OnUserDataChanged += UserDataLoaded;
        base.OnInitialized();
    }

    public void Dispose()
    {
        data.OnUserDataChanged -= UserDataLoaded;
    }

}
