<table class="w-100 mt-2">
    <tr style="vertical-align: middle;">
        <td>
            <div><span class="fs-5 ms-1 me-1 fw-bold">Ablefish</span><span class="text-muted fst-italic">translator</span></div>
        </td>
        <td style="float: right;">
            <div class="btn-group ms-3">
                <AuthorizeView>
                    <Authorized>
                        <a class="btn btn-primary" href="/">Translate</a>
                        <a class="btn btn-primary" href="/Conflicts">Resolve</a>
                    </Authorized>
                </AuthorizeView>
            </div>
            <LoginControl />
        </td>
    </tr>
</table>
