body {
    background-image: url('images/background_02.png');
    background-size: cover; /* makes the image cover the entire area */
    background-position: top center; /* centers the image */
    background-repeat: no-repeat; /* prevents tiling */
}

.btn-translate{
 min-width: 120px;
}

.twa-long-text{
    max-width: 400px;
}
.twa-first-button{
    font-weight: 500;
    min-width: 100px;
    max-width: 100px;
    text-align: left;
}
.twa-work-item {
    float: right;
    font-weight: 600;
    font-family: monospace;
}
.manual-edit{
    min-height: 200px !important;
    background-color: lightgoldenrodyellow;
}

.sectext-manual{
}

.sectext-machine {
    color: darkmagenta;
    font-style: italic;
}